{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{entryTitle}}
{% endblock %}

{% block body %}
    <div>
        <h1 class="list-group-item list-group-item-warning text-center" >{{error}}</h1>
        <h4>We have a problem {{title}}... {{problem}} {{exists}},<span style="font-size: 3rem; font-weight: 700;"> {{entryTitle}}</span></h4>
        {% if return %}
        <a class="text-decoration-none" href="{% url 'newPage' %}"><h5>You can enter another title</h5></a>
        {% endif %}

    </div>
{% endblock %}