<!-- {% load static %} -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="../../static/encyclopedia/styles.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c45f95713a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3  bg-dark text-light">
                <h2 class="text-center">Wiki</h2>
                <div class="input-group">
                    <form action="{% url 'search' %}" method="GET">
                        <input class="search form-control mt-3 mb-3" type="text" name="q" placeholder="Search Encyclopedia">
                    </form>
                </div>
                <div >
                    <ul class="list-group">
                        <i class="fas fa-home h4"><a class="text-light text-decoration-none" href="{% url 'index' %}"> Home</a></i>
                        <i class="fas fa-folder-plus mt-2 h4"><a class="text-light text-decoration-none" href="{% url 'newPage' %}"> Create</a></i>
                        <i class="fas fa-dice mt-2 h4"><a class="text-light text-decoration-none" href="{% url 'random' %}"> Random</a></i>
                    </ul>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>